# Custom aliases

## Check if a command exists
## param $1: command to test.
## return: 0 or 1.
function isCommand ()
{
    if command -v $1 &> /dev/null
    then
        return 0 # true
    else
        return 1 # false
    fi
}

## System
alias shutdown='sudo shutdown now'
alias restart='sudo reboot'
alias suspend='sudo pm-suspend'

## Base tools
alias dir='dir --color=auto'
alias grep='grep --color=auto'
alias mkdir='mkdir -p'
alias nano='nano -l'

## bash
alias editbash="$EDITOR $HOME/.bashrc"
alias sourcebash="source $HOME/.bashrc"

## zsh
alias editzsh="$EDITOR $ZDOTDIR/.zshrc"
alias sourcezsh="source $ZDOTDIR/.zshrc"

## ls -> lsd
if isCommand lsd; then
    alias ls='lsd'
else
    alias ls='ls --color=auto'
fi
alias ll='ls -alhF'
alias la='la -A'

## cat -> bat
if isCommand bat; then
    alias cat='bat'
else
    alias cat='batcat'
fi

# stow
alias stow='stow -v'
